*,
::before ::after{
    box-sizing: border-box;
}

* {
    margin: 0;
}
 html,
 body {
    height: 100%;
 }

 #outer {
    background-color: red;
    height: 300px;
    width: 400px;
    display: grid;
    justify-items: center;
   
 }

 .first {
    height: 50px;
    width:50px;
    background-color: green;
text-align: center;
justify-self: end;

 }

 .second {
    height: 50px;
    width: 50px;
    background-color: blue;
 }

 .third {
    height: 50px;
    width: 50px;
    background-color: yellow;
 }
#outer2 {
    background-color: gray;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    background-color: blue;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    background-color: purple;
    height: 50px;
    width: 50px;
    border-radius: 40% 2%;
}

/* Practice display: grid; */
.grid-test{
    background-color: red;
    height: 100px;
    display: grid;
    grid-template-rows: 20px 20px ;
    grid-template-columns: 20px 20px 20px 20px 20px 20px;
    justify-content: center;
    align-content: center;

}
.letter-a{
    background-color: green;
}
.letter-b{
    background-color: purple;
}
.letter-c{
    background-color: blue;
}

